spring:
  application:
    name: OrderService

  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: order-service-group
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.value.default.type: org.oldvabik.orderservice.event.CreatePaymentEvent

logging:
  level:
    org.apache.kafka: WARN
    org.springframework.kafka: WARN

app:
  kafka:
    create-order-topic: order-created-topic
    create-payment-topic: payment-created-topic
    order-group-id: order-service-group

user:
  service:
    endpoints:
      get-user-by-id: /api/v1/users/{id}
      get-user-by-email: /api/v1/users/search

resilience4j:
  circuitbreaker:
    instances:
      user-service:
        failure-rate-threshold: 30
        slow-call-rate-threshold: 90
        wait-duration-in-open-state: 15s
        permitted-number-of-calls-in-half-open-state: 5
        minimum-number-of-calls: 30
  timelimiter:
    instances:
      user-service:
        timeout-duration: 3s

jwt:
  secret: ${JWT_SECRET}

server:
  port: 8082
